/*General*/
:root {
  --purple: #272044;
}

body {
  margin: 0 auto;
  font-family: "Poppins";
  background-color: var(--purple);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

/*header*/
header {
  background-image: linear-gradient(rgb(39, 32, 68, 0.6), rgb(39, 32, 68, 0.6)),
    url("/images/bg-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--purple);
  text-decoration: none;
  background: white;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
}

/*main section*/
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

main {
  background-color: white;
}

.grid-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
  align-items: center;
  margin: 0 auto;
}

main h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: var(--purple);
  opacity: 0.3;
  margin: 0;
}

main h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: var(--purple);
  margin: 0;
}

main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--purple);
  opacity: 0.7;
}

.img-responsive {
  width: 100%;
}

/*second section*/
#secondary {
  background-color: #f8f8f8;
}

#secondary h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 5px;
  color: var(--purple);
  opacity: 0.3;
  margin: 0;
}

#secondary h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
  color: var(--purple);
  margin: 0;
}

/*third section*/
.grid-cafes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.card {
  background-color: white;
  margin: 40px 0;
}

.card-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 0 30px 30px;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #462cb3;
  text-decoration: none;
}

.card h4 {
  font-size: 24px;
  line-height: 1;
  color: var(--purple);
  margin: 0;
}

.card h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1.5;
  color: var(--purple);
}

.card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--purple);
  opacity: 0.7;
}

/*footer*/
footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("/images/bg-footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

footer .grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 70px;
  margin: 0 auto;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  opacity: 0.6;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  opacity: 0.6;
  padding: 0;
  line-height: 2;
}

footer a {
  color: white;
  text-decoration: none;
}

/*media queries*/
@media (max-width: 1300px) {
  section {
    padding: 60px;
  }

  .grid-main {
    grid-gap: 25px;
  }

  footer .grid {
    grid-gap: 25px;
  }
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid-main {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  .responsive-container {
    text-align: center;
  }

  section {
    padding: 30px;
  }

  main h3 {
    font-size: 12px;
  }

  main h2 {
    font-size: 25px;
  }

  main p {
    font-size: 13px;
  }

  .grid-cafes {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .card-header {
    grid-template-columns: 1fr;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16/9;
  }

  footer .grid {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  footer h3 {
    font-size: 17px;
  }

  footer p {
    font-size: 14px;
  }

  footer li {
    font-size: 14px;
  }
}
